name: test-dev
services:
  app:
    container_name: test-dev-app
    restart: always
    image: portabase/agent:latest
    volumes:
      - ./databases.json:/config/config.json
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      TZ: "Europe/Paris"
      EDGE_KEY: "${EDGE_KEY}"
      LOG: info
    networks:
      - portabase


  db-pg-2cd9:
    container_name: test-dev-db-pg-2cd9
    image: postgres:17-alpine
    networks:
      - portabase
      - default
    ports:
      - "${DB_PG_2CD9_PORT}:5432"
    volumes:
      - db-pg-2cd9-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_PG_2CD9_DB}
      - POSTGRES_USER=${DB_PG_2CD9_USER}
      - POSTGRES_PASSWORD=${DB_PG_2CD9_PASS}


volumes:
  db-pg-2cd9-data:


networks:
  portabase:
    name: portabase_network
    external: true