name: my-agent
services:
  app:
    container_name: my-agent-app
    restart: always
    image: portabase/agent:latest
    volumes:
      - ./databases.json:/config/config.json
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      TZ: "Europe/Paris"
      EDGE_KEY: "${EDGE_KEY}"
      LOG: info
    networks:
      - portabase


  db-pg-e009:
    container_name: my-agent-db-pg-e009
    image: postgres:17-alpine
    networks:
      - portabase
      - default
    ports:
      - "${DB_PG_E009_PORT}:5432"
    volumes:
      - db-pg-e009-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_PG_E009_DB}
      - POSTGRES_USER=${DB_PG_E009_USER}
      - POSTGRES_PASSWORD=${DB_PG_E009_PASS}

  db-mariadb-3896:
    container_name: my-agent-db-mariadb-3896
    image: mariadb:latest
    ports:
      - "${DB_MARIADB_3896_PORT}:3306"
    environment:
      - MYSQL_DATABASE=${DB_MARIADB_3896_DB}
      - MYSQL_USER=${DB_MARIADB_3896_USER}
      - MYSQL_PASSWORD=${DB_MARIADB_3896_PASS}
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    volumes:
      - db-mariadb-3896-data:/var/lib/mysql


volumes:
  db-pg-e009-data:
  db-mariadb-3896-data:


networks:
  portabase:
    name: portabase_network
    external: true