name: test-1
services:
  app:
    container_name: test-1-app
    restart: always
    image: portabase/agent:1.0.1-rc.1
    volumes:
      - ./databases.json:/config/config.json
    extra_hosts:
      - "localhost:host-gateway"
    environment:
      TZ: "Europe/Paris"
      EDGE_KEY: "${EDGE_KEY}"
      LOG: info

  db2:
    image: mariadb:latest
    environment:
      - MYSQL_DATABASE=mariadb
      - MYSQL_USER=mariadb
      - MYSQL_PASSWORD=changeme
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    volumes:
      - mariadb-data:/var/lib/mysql


volumes:
  mariadb-data:
